<?xml version="1.0" encoding="UTF-8"?>
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle
      Name="HTC Package for DirectX 9.0"
      AboutUrl="https://github.com/ViveportSoftware/vita_external_dx9_setup/"
      DisableRemove="yes"
      DisableModify="yes"
      Manufacturer="HTC Corp."
      UpgradeCode="68850dc5-fec2-420d-b932-5f74a573fc4a"
      Version="!(bind.packageVersion.VitaDX9.Package.x86)">
    <BootstrapperApplicationRef
        Id="WixStandardBootstrapperApplication.HyperlinkLargeLicense">
      <bal:WixStandardBootstrapperApplication
          LicenseUrl="https://github.com/ViveportSoftware/vita_external_dx9_setup/blob/master/LICENSE.md"
          ShowVersion="yes"
          SuppressOptionsUI="yes"
      />
    </BootstrapperApplicationRef>
    <Variable
        Name="APPLICATIONROOTDIRECTORY"
        bal:Overridable="yes"
        Type="string"
        Value="[CommonFiles6432Folder]HTC\Vita\External\DirectX9"
    />
    <Variable
        Name="InstallFolder"
        bal:Overridable="yes"
        Type="string"
        Value="[APPLICATIONROOTDIRECTORY]"
    />
    <util:RegistrySearch
        Id="Find_PreviousInstallDir_1"
        Root="HKLM"
        Key="Software\HTC\Vive\DirectX9"
        Value="InstallDir"
        Variable="PREVIOUS_INSTALLDIR_1"
    />
    <util:RegistrySearch
        Id="Find_PreviousInstallDir_2"
        Root="HKLM"
        Key="Software\HTC\Viveport\DirectX9"
        Value="InstallDir"
        Variable="PREVIOUS_INSTALLDIR_2"
    />
    <util:RegistrySearch
        Id="Find_PreviousInstallDir_3"
        Root="HKLM"
        Key="Software\HTC\Vita\External\DirectX9"
        Value="InstallDir"
        Variable="PREVIOUS_INSTALLDIR_3"
    />
    <util:DirectorySearch
        Path="[PREVIOUS_INSTALLDIR_1]"
        Variable="InstallFolder"
        After="Find_PreviousInstallDir_1"
        Condition="PREVIOUS_INSTALLDIR_1"
    />
    <util:DirectorySearch
        Path="[PREVIOUS_INSTALLDIR_2]"
        Variable="InstallFolder"
        After="Find_PreviousInstallDir_2"
        Condition="PREVIOUS_INSTALLDIR_2"
    />
    <util:DirectorySearch
        Path="[PREVIOUS_INSTALLDIR_3]"
        Variable="InstallFolder"
        After="Find_PreviousInstallDir_3"
        Condition="PREVIOUS_INSTALLDIR_3"
    />
    <Chain>
      <MsiPackage
          Id="VitaDX9.Package.x86"
          SourceFile="$(var.VitaDX9.Package.x86.TargetDir)VitaDX9.Package.x86.msi">
        <MsiProperty
            Name="APPLICATIONROOTDIRECTORY"
            Value="[InstallFolder]"
        />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>