<?xml version="1.0" encoding="UTF-8"?>
<?ifndef MyPackageVersion ?>
<?define MyPackageVersion = "9.99.999.9999" ?>
<?endif?>
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product
      Id="*"
      Language="1033"
      Manufacturer="HTC Corp."
      Name="HTC Package for DirectX 9.0 (x86/x64)"
      UpgradeCode="30d68f9a-7791-486c-ad1f-8d1cd409ac69"
      Version="$(var.MyPackageVersion)">
    <Package
        InstallerVersion="500"
        Compressed="yes"
        InstallScope="perMachine"
        InstallPrivileges="elevated"
        Platform="x86"
    />
    <MajorUpgrade
        AllowSameVersionUpgrades="yes"
        DowngradeErrorMessage="A newer version of [ProductName] is already installed."
    />
    <MediaTemplate EmbedCab="yes" />
    <DirectoryRef Id="APPLICATIONROOTDIRECTORY" />
    <CustomAction
        Id="Run_DXSETUP.exe"
        FileKey="DXSETUP.exe"
        ExeCommand="/silent"
        Execute="immediate"
        Return="ignore"
    />
    <InstallExecuteSequence>
      <Custom
          Action="WixCloseApplications"
          Before="RemoveFiles">
        Installed
      </Custom>
      <Custom
          Action="Run_DXSETUP.exe"
          After="InstallFinalize">
        NOT REMOVE
      </Custom>
    </InstallExecuteSequence>
    <util:CloseApplication
        Id="CloseProcess_DXSETUP.exe"
        CloseMessage="yes"
        RebootPrompt="no"
        Target="DXSETUP.exe"
        TerminateProcess="128">
      Installed
    </util:CloseApplication>
    <Feature
        Id="ProductFeature"
        Title="HTC Installer Package for DirectX 9.0"
        Level="1">
      <ComponentGroupRef Id="VitaDX9" />
      <ComponentGroupRef Id="VitaDX9.Registry" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="CommonFiles6432Folder">
        <Directory Id="HTC" Name="HTC">
          <Directory Id="VITAFOLDER" Name="Vita">
            <Directory Id="EXTERNALFOLDER" Name="External">
              <Directory Id="APPLICATIONROOTDIRECTORY" Name="DirectX9" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="VitaDX9">
      <Component
          Id="VitaDX9_APR2007_xinput_x64.cab"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{caa07f6e-05b9-4805-8049-6f1e635fac50}">
        <File
            Id="APR2007_xinput_x64.cab"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.Apr2007.9.0.201006\content\APR2007_xinput_x64.cab"
        />
      </Component>
      <Component
          Id="VitaDX9_APR2007_xinput_x86.cab"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{74be78a9-600c-42b2-bcfa-e2d96ce7071e}">
        <File
            Id="APR2007_xinput_x86.cab"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.Apr2007.9.0.201006\content\APR2007_xinput_x86.cab"
        />
      </Component>
      <Component
          Id="VitaDX9_DSETUP.dll"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{a0045b0c-635b-4625-8fb0-b68348091615}">
        <File
            Id="DSETUP.dll"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.DxSetup.9.0.201006\content\DSETUP.dll"
        />
      </Component>
      <Component
          Id="VitaDX9_dsetup32.dll"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{e6324bcf-64a2-49f4-b3d8-7d3dde449e63}">
        <File
            Id="dsetup32.dll"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.DxSetup.9.0.201006\content\dsetup32.dll"
        />
      </Component>
      <Component
          Id="VitaDX9_dxdllreg_x86.cab"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{2c2adc0f-b1aa-48ec-bc6b-0751953a0eec}">
        <File
            Id="dxdllreg_x86.cab"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.DxSetup.9.0.201006\content\dxdllreg_x86.cab"
        />
      </Component>
      <Component
          Id="VitaDX9_DXSETUP.exe"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{2c6a761e-5d09-4dbe-92b4-db6ed910a0a3}">
        <File
            Id="DXSETUP.exe"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.DxSetup.9.0.201006\content\DXSETUP.exe"
        />
      </Component>
      <Component
          Id="VitaDX9_dxupdate.cab"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{1e2c6196-235e-4351-ba72-6a780b0b834e}">
        <File
            Id="dxupdate.cab"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.DxSetup.9.0.201006\content\dxupdate.cab"
        />
      </Component>
      <Component
          Id="VitaDX9_Feb2010_X3DAudio_x64.cab"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{31fd24c9-60b5-4d21-a2d5-8ae69353e051}">
        <File
            Id="Feb2010_X3DAudio_x64.cab"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.Feb2010.9.0.201006\content\Feb2010_X3DAudio_x64.cab"
        />
      </Component>
      <Component
          Id="VitaDX9_Feb2010_X3DAudio_x86.cab"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{6f8df0a7-16df-4ee4-b41f-41392e5b8db0}">
        <File
            Id="Feb2010_X3DAudio_x86.cab"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.Feb2010.9.0.201006\content\Feb2010_X3DAudio_x86.cab"
        />
      </Component>
      <Component
          Id="VitaDX9_Jun2010_D3DCompiler_43_x64.cab"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{5c77f911-0f1d-41fb-8405-4be0d2bc570e}">
        <File
            Id="Jun2010_D3DCompiler_43_x64.cab"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.Jun2010.9.0.201006\content\Jun2010_D3DCompiler_43_x64.cab"
        />
      </Component>
      <Component
          Id="VitaDX9_Jun2010_D3DCompiler_43_x86.cab"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{7b93d7f2-eec8-4c9b-a77d-ab585adce5f2}">
        <File
            Id="Jun2010_D3DCompiler_43_x86.cab"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.Jun2010.9.0.201006\content\Jun2010_D3DCompiler_43_x86.cab"
        />
      </Component>
      <Component
          Id="VitaDX9_Jun2010_d3dcsx_43_x64.cab"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{b4d522d3-2fac-4b10-8169-1f8023fef4da}">
        <File
            Id="Jun2010_d3dcsx_43_x64.cab"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.Jun2010.9.0.201006\content\Jun2010_d3dcsx_43_x64.cab"
        />
      </Component>
      <Component
          Id="VitaDX9_Jun2010_d3dcsx_43_x86.cab"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{d00f6283-006a-4bc1-ad0a-e144294c7b55}">
        <File
            Id="Jun2010_d3dcsx_43_x86.cab"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.Jun2010.9.0.201006\content\Jun2010_d3dcsx_43_x86.cab"
        />
      </Component>
      <Component
          Id="VitaDX9_Jun2010_d3dx9_43_x64.cab"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{989b7e9d-9c29-4ecb-89d6-82c149463b30}">
        <File
            Id="Jun2010_d3dx9_43_x64.cab"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.Jun2010.9.0.201006\content\Jun2010_d3dx9_43_x64.cab"
        />
      </Component>
      <Component
          Id="VitaDX9_Jun2010_d3dx9_43_x86.cab"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{367821dd-9ccd-486f-b641-7e050d7a9ccc}">
        <File
            Id="Jun2010_d3dx9_43_x86.cab"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.Jun2010.9.0.201006\content\Jun2010_d3dx9_43_x86.cab"
        />
      </Component>
      <Component
          Id="VitaDX9_Jun2010_d3dx10_43_x64.cab"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{a552611a-58d9-4b3b-9960-e7fb322b51cb}">
        <File
            Id="Jun2010_d3dx10_43_x64.cab"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.Jun2010.9.0.201006\content\Jun2010_d3dx10_43_x64.cab"
        />
      </Component>
      <Component
          Id="VitaDX9_Jun2010_d3dx10_43_x86.cab"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{8ff99fcb-5b54-4485-8fca-5a56581fa79a}">
        <File
            Id="Jun2010_d3dx10_43_x86.cab"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.Jun2010.9.0.201006\content\Jun2010_d3dx10_43_x86.cab"
        />
      </Component>
      <Component
          Id="VitaDX9_Jun2010_d3dx11_43_x64.cab"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{1383c3bd-c1e0-4d22-ae21-c7c3ee53f9f8}">
        <File
            Id="Jun2010_d3dx11_43_x64.cab"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.Jun2010.9.0.201006\content\Jun2010_d3dx11_43_x64.cab"
        />
      </Component>
      <Component
          Id="VitaDX9_Jun2010_d3dx11_43_x86.cab"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{1c8b8317-a4cd-4a65-9f5c-128fc7b8ca17}">
        <File
            Id="Jun2010_d3dx11_43_x86.cab"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.Jun2010.9.0.201006\content\Jun2010_d3dx11_43_x86.cab"
        />
      </Component>
      <Component
          Id="VitaDX9_Jun2010_XACT_x64.cab"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{1f837fee-ba8a-4ec7-93de-dab22d496e12}">
        <File
            Id="Jun2010_XACT_x64.cab"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.Jun2010.9.0.201006\content\Jun2010_XACT_x64.cab"
        />
      </Component>
      <Component
          Id="VitaDX9_Jun2010_XACT_x86.cab"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{ab0b9cd9-a27e-4197-b694-a5a3107a06aa}">
        <File
            Id="Jun2010_XACT_x86.cab"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.Jun2010.9.0.201006\content\Jun2010_XACT_x86.cab"
        />
      </Component>
      <Component
          Id="VitaDX9_Jun2010_XAudio_x64.cab"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{0025526a-d06e-471f-80be-ef9da52f16ff}">
        <File
            Id="Jun2010_XAudio_x64.cab"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.Jun2010.9.0.201006\content\Jun2010_XAudio_x64.cab"
        />
      </Component>
      <Component
          Id="VitaDX9_Jun2010_XAudio_x86.cab"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{a934f0de-b19a-4d9a-a4c8-1a22837c8126}">
        <File
            Id="Jun2010_XAudio_x86.cab"
            KeyPath="yes"
            Source="$(var.SolutionDir)packages\Htc.Vita.External.DX9.Redist.Jun2010.9.0.201006\content\Jun2010_XAudio_x86.cab"
        />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="VitaDX9.Registry">
      <Component
          Id="VitaDX9.Registry_InstallInfo"
          Directory="APPLICATIONROOTDIRECTORY"
          Guid="{7ded8f7f-a2ce-4e03-9d12-d59d8736b59d}">
        <RegistryKey
            Root="HKLM"
            Key="Software\HTC\Vita\External\DirectX9"
            ForceCreateOnInstall="yes"
            ForceDeleteOnUninstall="yes">
          <RegistryValue
              Name="InstallVersion"
              KeyPath="yes"
              Type="string"
              Value="!(bind.property.ProductVersion)"
          />
          <RegistryValue
              Name="InstallDir"
              Type="string"
              Value="[APPLICATIONROOTDIRECTORY]"
          />
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>